html
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: slategray;
    border-radius: 25%;
    
}
#main{
    display: block;
    border-radius: 25px;
    background-color: lightsteelblue;
    /* border: 2px dotted silver; */
    max-height: auto;
    border: 5px solid darkolivegreen;
    margin: 8%;
   

    
}

#title {
    text-align: center;
    border: 5px solid darkolivegreen;
    background-color: silver;
    margin-top: 25px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}
#description{
    max-width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    
}


#survey-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
    border: 5px solid darkolivegreen;
    background-color: silver;
    max-width: 55%;
    border-radius: 25px;
    padding:5px;
    margin-bottom: 8%;
    
    
}

#name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted darkolivegreen;
    width: 90%;
}
#name-label{
    margin-left:5%
}
#email{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted darkolivegreen;
    width: 90%;
}
#email-label{
    margin-left:5%
}
#number{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted darkolivegreen;
    width: 90%;
}
#number-label{
    margin-left: 5%;
}